@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Montserrat&family=Oswald:wght@500&family=PT+Serif:ital@1&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');
body {
    background-color: #342937;
    color:#fcfbfc;
    overflow-x: hidden;
}

.element{
    box-sizing: border-box;
    width: 100vw;
    max-width: 1920px;
    padding: 0 min(192px, 10vw);
    margin: 0 auto 20vh;
}

h1{
    font-family: "Roboto Mono", monospace;
    font-size: min(9vw,8em);
}

h2{
    font-family: "Roboto Mono", monospace;
    font-size: min(12vw,6em);
    margin-bottom: 2.5vw;
}

h2::before {
    content: ">";
    margin-right: 0.3em;
}

p{
    font-family: "Roboto Mono", monospace;
    font-size: min(3vw,1.5em);
}

#name{
    font-size: min(18vw,16em);
    color:#86698e;
}


#greeting{
    margin-left:0.5em;
}

#title{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5vw 0vw 15vw 10vw;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    max-width: none;
    div {
        margin: auto 0;
        line-height:1em;
        width: 100%;
    }
}

.social-links{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 6em;
}

.social-links svg{
    height: min(12vw,8em);
    color:#fcfbfc;
    transition: 0.5s;
}

.social-links svg:hover{
    color: #86698e;
    scale: 1.5
        
}

.projects-table{
    display:flex;
    flex-direction: column;
    gap: min(100px,5vw);
    margin-top: 2.5vw;
}

.project-body {
    display: flex;
    flex-direction: row;
    gap: 4em;
    align-items: center;
}

.project img {
    width: 35em;
    border-radius: 2em;
    border: 1em solid #514353
}

.project h3 {
    font-family: "Roboto Mono", monospace;
    font-size: min(5.5vw,3em);
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 0.25em;
    margin-top: 0;
}

.project h3 svg{
    font-family: "Roboto Mono", monospace;
    height: 1.2em;
}

.techstack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
        font-family: "Roboto Mono", monospace;
        font-style: italic;
        font-size: min(1.9vw, 1em)
    }
}

.desc-link {
    font-family: "Roboto Mono", monospace;
    font-size: 1.2em;
    color: #ded7e0;
    a {
        font-weight: bold;
        color:#86698e;
    }
}

.cv-link {
    font-weight: bold;
    color:#86698e;
}

@media (max-width: 1080px) {
    .project .image {
        display: none;
    }
}

/*.social-links a {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-contents: center;*/
/*    text-decoration: none;*/
/*    .text {*/
/*        color: white;*/
/*        font-family: "Roboto Mono", monospace;*/
/*        text-decoration: none;*/
/*        font-size: 2em;*/
/*        width: 0;*/
/*        overflow: hidden;*/
/*        white-space: nowrap;*/
/*        margin: auto;*/
/*    }*/
/*}*/

/*.typewriter-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    width: max-content;*/
/*}*/

/*.social-links a:hover .typewriter-container {*/
/*    animation:*/
/*        typing 2s steps(100,end)*/
/*}*/

/*.social-links a:hover #text-linkedin{*/
/*        border-right: .15em solid white;*/
/*        animation:*/
/*            typing 2s steps(15,end),*/
/*            blink-caret 1s step-end infinite;*/
/*        width: 100%;*/
/*        margin-left: 1em;*/
/*}*/

/*.social-links a:hover #text-github{*/
/*    border-right: .15em solid white;*/
/*    animation:*/
/*            typing 2s steps(14,end),*/
/*            blink-caret 1s step-end infinite;*/
/*    width: 100%;*/
/*    margin-left: 1em;*/
/*}*/

/*.social-links a:hover #text-instagram{*/
/*    border-right: .15em solid white;*/
/*    animation:*/
/*            typing 2s steps(15,end),*/
/*            blink-caret 1s step-end infinite;*/
/*    width: 100%;*/
/*    margin-left: 1em;*/
/*}*/

/*!* The typing effect *!*/
/*@keyframes typing {*/
/*    from { width: 0 }*/
/*  to { width: 100% }*/
/*}*/

/*!* The typewriter cursor effect *!*/
/*@keyframes blink-caret {*/
/*    from, to { border-color: transparent }*/
/*    50% { border-color: white; }*/
/*}*/